body{
	margin: 0;
	padding: 0;
}
nav{
	margin: 0;
	padding: 0;
	position: fixed;
}

.nav-left{
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,.7);
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	height: 100vw; 

}

.btn-plus{
	width: 30%;
	height: 50px;
	position: fixed;
	left: 0;
	bottom: 0;
	cursor: pointer;
}
.btn-plus i{
	margin-left: 30%;
}
.nav-left .nav-item{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.nav-item:hover{
	
	background-color: rgba(0,0,0,.4);
}
.nav-link{
	text-decoration: none;
	color: white;
	font-size: 18px;
	display: flex;
	align-self: center;
}

.nav-item.active{
	background-color: rgba(0,0,0,.4);
}
.nav-link.active{
	color: orange;
}
.user-write{
	height: 100px;
	padding: 10px;
	bottom: 0px;
	position: fixed;
	margin-bottom: 160px;

}
.user-write label{
	font-size: 18px;
	color: white;

}
.user-write textarea{
	font-size: 18px;
	color: black;

}
.area-msg{
	position: fixed;
	top: 0;
	
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
}

.group-text{
	padding: 15px;

}
.group-text .name-user{
	padding-left: 10px;
	margin: 0px;
	font-size: 18px;
}
.group-text .user-text{
	padding-left: 10px;
	margin: 0px;
	font-size: 16px;
}
.group-text .data-text{
	padding-left: 10px;
	margin: 0px;
	font-size: 14px;
}

.btn-acoes{
	padding: 15px;
	z-index: 1;
	
}